/* src/Components/StockList/StockList.css */

.stock-list {
  padding: 20px;
  background-color: var(--background);
}

.stock-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.stock-table th,
.stock-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.stock-table th {
  background-color: var(--primary);
  color: var(--text-color);
  font-weight: bold;
}



.stock-table tr:hover {
  background-color: var(--accent);
}

.stock-zero {
  background-color: #ffcccb;
}

.stock-non-zero {
  background-color: var(--primary-light);
}

.search-bar {
  width: 98%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--primary-dark);
  border-radius: 4px;
  font-size: 16px;
  background-color: var(--background);
  color: var(--text-color);
}

.search-bar:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 5px var(--primary-light);
}

.stock-zero {
  background-color: red; /* Red for zero values */
  color: white; /* Optional: to make text readable */
}



.stock-zero-row {
  background-color: red; /* Red for entire row when all colors are zero */
  color: white; /* Optional: to make text readable */
}

@media (max-width: 768px) {
  .stock-table {
    font-size: 12px;
  }

  .stock-table th,
  .stock-table td {
    padding: 6px;
  }
}

@media (max-width: 480px) {
  .stock-table {
    font-size: 10px;
  }

  .stock-table th,
  .stock-table td {
    padding: 4px;
  }
}