/* Login.css */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background);
  padding: 1rem; /* Add padding to prevent content from touching screen edges */
  box-sizing: border-box; /* Ensure padding doesn't cause overflow */
}

.login-form {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px; /* Increase max-width for larger screens */
  box-sizing: border-box;
}

h1 {
  color: var(--primary-dark);
  margin-bottom: 1rem; /* Increase bottom margin for better spacing */
  font-size: 2rem; /* Increase font size for better readability */
}

p {
  color: var(--text-color);
  margin-bottom: 1.5rem;
  font-size: 1.25rem; /* Increase font size */
}

.input-group {
  position: relative;
  margin-bottom: 1.5rem; /* Increase margin for more space between inputs */
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 1rem; /* Increase padding for larger input fields */
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 1.25rem; /* Increase font size for better readability */
  box-sizing: border-box;
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--accent);
  cursor: pointer;
  font-size: 1.25rem; /* Match icon size with input text */
}

.checkbox-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.forgot-password {
  color: var(--primary-dark);
  text-decoration: none;
  font-size: 1.25rem; /* Increase font size */
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-button {
  width: 100%;
  padding: 1rem; /* Increase padding for larger button */
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.25rem; /* Increase font size */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button:hover {
  background-color: var(--primary-dark);
}

.arrow {
  margin-left: 0.5rem;
  font-size: 1.25rem; /* Match arrow size with button text */
}

.register-link {
  margin-top: 1rem;
  text-align: center;
}

.register-link p {
  color: var(--text-color);
  font-size: 1.25rem; /* Increase font size */
}

.register-link a {
  color: var(--primary-dark);
  text-decoration: none;
  font-size: 1.25rem; /* Increase font size */
}

.register-link a:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .login-form {
    padding: 1.5rem;
  }
}
