.add-admin-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid var(--border-color);
    background-color: var(--background);
    border-radius: 8px;
  }
  
  .admin-form input, .admin-list input {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid var(--border-color);
    border-radius: 4px;
  }
  
  .admin-form button, .admin-item button {
    padding: 10px 15px;
    background-color: var(--primary);
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  .admin-form button:hover, .admin-item button:hover {
    background-color: var(--primary-dark);
  }
  
  .admin-list {
    list-style-type: none;
    padding: 0;
  }
  
  .admin-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
  }
  
  .admin-item input {
    margin-right: 10px;
  }
  .firebase-details {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .firebase-details p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  .firebase-details p strong {
    font-weight: bold;
  }
  