

.dashboard {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.excel-toolbar {
  background-color: var(--primary-dark);
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.search-input {
  width: 98%;
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 16px;
}

.excel-sheet {
  margin-top: 20px;
}

.excel-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.excel-table th, .excel-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid var(--border-color);
}

.item-header {
  background-color: var(--primary);
  color: #fff;
}

.code-header {
  background-color: var(--primary-light);
}

.color-cell {
  background-color: var(--highlight);
}

.quantity.stock-zero {
  background-color: var(--red);
  color: #fff;
}

.quantity.stock-non-zero {
  background-color: #e0ffe0;
}

.finished, .cutting, .taping, .total {
  background-color: var(--highlight);
}

.sheet-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.item-table-container {
  margin-bottom: 20px;
}

.no-item-found {
  color: var(--red);
  font-size: 18px;
  text-align: center;
}
/* Add this to your Dashboard.css */
.total-zero {
  background-color: red;
  color: white;
}
