:root {
  --primary: #2BED92;
  --primary-light: #6efcb3; 
  --primary-dark: #25d47b; 
  --accent: #FFD700;         
  --background: #F5F5F5;
  --text-color: #333;
  --red: #ff00007d;     
  --highlight: #d0e9f3;
  --border-color: #b4b4b4;     
}


body {
  
  margin: 0;
  font-family: Poppins;
}

